.Person {
    width: 60%;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    text-align: center;
}

@media (min-width: 500px){
    .Person {
        width: 450px;
    }
}